import 'dart:async';
import 'dart:convert';
import 'dart:io';

class Client {
  String _host;
  int _port;

  HttpClient _client;

  Client(String host, int port) {
    _host = host;
    _port = port;
    _client = HttpClient();
  }

  {{- $root := . }}
  {{- "\n" }} 
  {{- range $i, $t := $root.Types }}
  Future<dynamic> create{{ $t.Name | title }}() async {
    var req = await _client.open('OPTIONS', _host, _port, '/rpc/v1/create{{ $t.Name | title }}');
    
    // set headers
    req.headers.set('content-type', 'application/json');
    req.headers.set('accepts', 'application/json');

    // add body
    req.add(utf8.encode(json.encode({})));

    var res = await req.close();
    if (res.statusCode != 200) {
      throw 'Its not all good... ${res.statusCode}';
    }

    await for (var body in res.transform(utf8.decoder)) {
      return body;
    }
  }
  {{- "\n" }} 
  {{- if $root.EnableEventStreams }}
  Future<dynamic> stream{{ $t.Name | title }}() async {
    var req = await _client.open('GET', _host, _port, '/rpc/v1/stream{{ $t.Name | title }}');
    
    // set headers
    req.headers.set('Content-Type', 'application/json');
    req.headers.set('Accepts', 'text/event-stream');

    // add body
    req.add(utf8.encode(json.encode({})));

    var res = await req.close();
    if (res.statusCode != 200) {
      throw 'Its not all good... ${res.statusCode}';
    }

    await for (var body in res.transform(utf8.decoder)) {
      // return body;
      print(body);
    }
  }
  {{- end }}
  {{- if $root.EnableUniversalArchiving }}
  Future<dynamic> archive{{ $t.Name | title }}() async {
    var req = await _client.open('OPTIONS', _host, _port, '/rpc/v1/archive{{ $t.Name | title }}');
    
    // set headers
    req.headers.set('Content-Type', 'application/json');
    req.headers.set('Accepts', 'application/json');

    // add body
    req.add(utf8.encode(json.encode({})));

    var res = await req.close();
    if (res.statusCode != 200) {
      throw 'Its not all good... ${res.statusCode}';
    }

    await for (var body in res.transform(utf8.decoder)) {
      return body;
    }
  }
  {{- else }}
  Future<dynamic> delete{{ $t.Name | title }}() async {
    var req = await _client.open('OPTIONS', _host, _port, '/rpc/v1/delete{{ $t.Name | title }}');
    
    // set headers
    req.headers.set('Content-Type', 'application/json');
    req.headers.set('Accepts', 'application/json');

    // add body
    req.add(utf8.encode(json.encode({})));

    var res = await req.close();
    if (res.statusCode != 200) {
      throw 'Its not all good... ${res.statusCode}';
    }

    await for (var body in res.transform(utf8.decoder)) {
      return body;
    }
  }
  {{- end }}
  {{- "\n" }} 
  {{- end }}
}

void main() {
  Client("localhost", 5000).streamUser();
}